# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Tema02/nbproject/private/
/Tema02/build/
/Tema02/dist/
/Tema03/nbproject/private/
/Tema03/build/
Tema03/nbproject/genfiles.properties
Tema03/nbproject/build-impl.xml
Tema03/manifest.mf
Tema03/build.xml
Tema03/nbproject/project.xml
Tema03/nbproject/project.properties
Tema02/nbproject/project.properties
Tema02/nbproject/project.properties
*.properties
/Tema04/nbproject/private/
/Tema04/build/
/OperativoADA/Supuesto2/nbproject/private/
/OperativoADA/Supuesto2/build/
/Tema5/nbproject/private/
/Tema5/build/
/OperativoADA/
/Examenes/
/Tema05/nbproject/private
Tema05/build/classes/.netbeans_update_resources
Tema05/build/classes/.netbeans_automatic_build
/Tema05/dist/

/DonacionesDana/build
DonacionesDana/dist/README.TXT
/Tema06/nbproject/private/
/Tema06/build/
/Impuestos/nbproject/private/
/EjercicioInterfaces03/nbproject/private/
/EjercicioInterfaces03/build/
/EjercicioInterfaces04/nbproject/private/
/EjercicioInterfaces04/build/
/EjercicioInterfaces05/nbproject/private/
/EjercicioInterfaces05/build/
/RuletaRusa/nbproject/private/
/RuletaRusa/build/
/RuletaRusa/dist/
/SaludoPorConsola/nbproject/private/
/SaludoPorConsola/build/
/SaludoPorConsola/dist/
/PasoParametros/nbproject/private/
/PasoParametros/dist/
/PasoParametros/build/
/ConsolaMultiplica/nbproject/private/
/ConsolaMultiplica/build/
/ConsolaMultiplica/dist/
/SaludoDesdeMain/nbproject/private/
/SaludoDesdeMain/dist/
/SaludoDesdeMain/build/
/Tema07_ejercicio06/nbproject/private/
/Tema07_ejercicio06/build/
/Tema07_ejercicio07/nbproject/private/
/Tema07_ejercicio07/build/
/Tema07/dist/
Tema09/build.xml
Tema09/build/classes/.netbeans_automatic_build
Tema09/build/classes/.netbeans_update_resources
Tema09/manifest.mf
Tema09/nbproject/build-impl.xml
Tema09/nbproject/private/private.xml
Tema09/nbproject/project.xml
RuletaRusa/src/ruletaRusa/MiObjectOutputStream.java
RuletaRusa/src/ruletaRusa/Main.java
RuletaRusa/src/ruletaRusa/Alumno.java
RuletaRusa/nbproject/project.xml
RuletaRusa/nbproject/build-impl.xml
RuletaRusa/manifest.mf
RuletaRusa/daw1-correcciones-23-24.obj
RuletaRusa/build.xml
Tema08/nbproject/private/private.xml
Tema08/build/classes/.netbeans_update_resources
Tema08/build/classes/.netbeans_automatic_build
